

.fv-top {
    &__ttl {
        z-index: 3;
        top: 100rem;
        color: #fff;
        font-weight: 700;
        position: absolute;
        left: 100rem;
        &-ttl {
            font-size: min(60px,  60rem);
            font-family: 'Roboto Condensed','ヒラギノ角ゴシック',sans-serif;
            letter-spacing: 8px;
            text-shadow: 2px 2px 3px rgba(3,3,3,.4);
            @include md {
                font-size: 30px;
            }
        }
        &-desc {
            font-size: min(20px,  20rem);
            font-weight: 400;
            letter-spacing: 3px;
            @include md {
                font-size: 16px;
            }
        }
    }
            
    &__img {
        width: 100%;
        height: 100%;
        display: block;
        .img {
            width: 100%;
        }
    }
}

// .fv-top::after {
//     position: absolute;
//     content: '';
//     left: 0;
//     top: 0;
//     height: 100%;
//     width: 100%;
//     z-index: 1;
//     background: rgba(3,3,3,.2);
// }

.fv-breadcrumb-slider {
    background: linear-gradient(#E11219, #333333);
    height: min(600px, 600rem) ;
    @include sp {
        height: 524px;
    }
    
    .slider-container {
        margin-top: min(35px, 35rem);
        padding-left: calc( calc(100% - 1200px) / 2);
        @include sp {
            padding-left: 0;
            margin-top: 20px;
        }
    }
    .img-slider {
        .main-swiper {
            width: 100%;
            overflow-y: clip;
        }
        .swiper-slide {
            width: min(934rem, 934px) !important;
            @include sp {
                width: 100% !important;
            }
            img {
                width: 100%;
            }
            position: relative;
            .over-layer {
                position: absolute;
                height: min(210rem, 206px);
                width: 100%;
                background: rgba($color: #000000, $alpha: 0.8);
                bottom: 0px;
                padding: min(30px, 30rem) min(40px, 40rem);
                @include sp {
                    bottom: 0px;
                    position: relative;
                    // z-index: 1000;
                    padding: 22px;
                    height: 133px;
                }
                .slide-ttl {
                    font-family: "Hiragino Sans";
                    font-weight: normal;
                    font-size: min(32rem, 32px);
                    letter-spacing: 0em;
                    line-height: min(48rem, 48px);
                    color: #fff;
                    @include sp {
                        font-size: 18px;
                        line-height: 28px;
                    }
                    .f-sign {
                        margin-left: max(-10px, -10rem);
                        @include sp {
                            margin-left: -7px;
                        }
                    }
                }
                .category-time {
                    padding-top: min(20px, 20rem);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .item-category {
                        padding: min(9px, 9rem) min(18px, 18rem);
                        border-radius: 25px;
                        letter-spacing: 0;
                        background: #FFC43E;
                        font-family: "Hiragino Kaku Gothic ProN";
                        font-weight: normal;
                        font-size: min(18px, 18rem);
                        // line-height: min(18px, 18rem);
                        color: #333;
                        cursor: pointer;
                        @include sp {
                            padding: 5px 20px;
                            font-size: 13px;
                            border-radius: 19px;
                        }                        
                    }
                    .item-category:hover {
                        opacity: 0.8;
                    }
                    .item-time {
                        font-family: "Hiragino Sans";
                        font-weight: normal;
                        font-size: 14px;
                        letter-spacing: 0.04em;
                        color: #ffc43e;

                    }
                }
            }
        }

        .swiper-slide:hover {
            opacity: 0.8;
            cursor: pointer;
        }
        .swiper-pagination {
            bottom: -25px;
            margin-top: 25px;
            display: flex;
            justify-content: flex-start;
            padding-left: min(1200rem, 1080px);
            position: unset;
            @include md {
                margin-top: 10px;
                padding-left: 1100rem;
            }
            .swiper-pagination-bullet {
                width: 11px !important;
                height: 11px !important;
                border-radius: 50%;
                margin-right: 11px !important;
                margin-left: 11px !important;
                background: #1F0607 !important;
                opacity: 1;
                @include md {
                    width: 7px !important;
                    height: 7px !important;
                    margin-right: 7px !important;
                    margin-left: 7px !important;
                }
            }
            .swiper-pagination-bullet-active {
                background: #FFC43E !important;
            }
        }
    }
}




.sec-special {
    margin-top: -2px;
    padding: min(80px, 80rem) 0 min(90px, 90rem);
    background: #333333;
    .section-ttl {
        color: #fff;
        display: flex;
        align-items: flex-end;
        border-bottom: 5px solid #fff;
        padding-bottom: 20px ;
        h2 {
            font-family: "Roboto Condensed";
            font-weight: bold;
            font-size: 61px;
            line-height: 50px;
            letter-spacing: 0.02em;
            @include md {
                font-size: 34px;
                line-height: 34px;
            }
        }
        .jp-ttl {
            font-family: "Hiragino Sans";
            font-weight: normal;
            margin-left: 26px;
            padding: 3px 14px ;
            font-size: 23px;
            letter-spacing: 0.02em;
            text-align: left;
            color: #f30d15;
            background: #000;
            display: block;
            @include md {
                font-size: 16px;
                line-height: 16px;
            }
        }

        @include md {
            flex-direction: column;
            align-items: center;
            border-bottom: 4px solid #fff;
            .jp-ttl {
                margin-left: 0;
                background: none;
                margin-top: 5px;
            }
        }
    }
    .special-list {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;
        @include md {
            flex-direction: column;
            margin-left: 0;
            margin-top: 30px;
        }
        // .item {
        //     width: 33.333%;
        //     @include md {
        //         width: 100%;
        //         margin-left: 0;
        //         display: flex;
        //         margin-top: 15px;
        //         padding-bottom: 20px;
        //         border-bottom: 1px solid #414141;
        //     }
        //     .item-img {
        //         width: 100%;
        //         @include md {
        //             width: 400rem;
        //         }
        //     }
        //     .item-content {
        //         background: #151515;
        //         padding: 30px;
        //         width: 100%;
        //         @include md {
        //             padding-top: 5px;
        //             padding-bottom: 5px;
        //             background: none;
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: space-around;
        //         }
        //         .item-ttl {
        //             font-family: "Hiragino Sans";
        //             font-weight: normal;
        //             font-size: min(22rem, 22px);
        //             letter-spacing: 0em;
        //             line-height: min(33rem, 33px);
        //             color: #fff;
        //             @include sp {
        //                 font-size: 14px;
        //                 line-height: 21px;
        //             }
        //             .f-sign {
        //                 margin-left: max(-10px, -10rem);
        //                 @include sp {
        //                     margin-left: -7px;
        //                 }
        //             }
        //         }
        //         .category-time {
        //             padding-top: min(66px, 66rem);
        //             display: flex;
        //             justify-content: space-between;
        //             align-items: center;
        //             .item-category {
        //                 padding: 1px 13px;
        //                 border-radius: 25px;
        //                 letter-spacing: 0;
        //                 background: #FFC43E;
        //                 font-family: "Hiragino Kaku Gothic ProN";
        //                 font-weight: normal;
        //                 font-size: 14px;
        //                 // line-height: min(18px, 18rem);
        //                 color: #333;                     
        //             }
        //             .item-time {
        //                 font-family: "Hiragino Sans";
        //                 font-weight: normal;
        //                 font-size: 14px;
        //                 letter-spacing: 0.04em;
        //                 color: #ffc43e;

        //             }
        //         }
                
        //     }
        // }

        .mr-45 {
            margin-right: 45px;
        }
    }
}


.sec-new {
    margin-top: -2px;
    background: #333333;
    padding: min(80px, 80rem) 0 min(90px, 90rem);

    .container {
        display: flex;
        justify-content: space-between;
        @include md {
            flex-direction: column;
        }
    }
    .main-content {
        width: min(900rem, 820px);
        @include md {
            width: 100%;
        }
        .section-ttl {
            color: #fff;
            display: flex;
            align-items: flex-end;
            border-bottom: 5px solid #fff;
            padding-bottom: 20px ;
            h2 {
                font-family: "Roboto Condensed";
                font-weight: bold;
                font-size: 61px;
                line-height: 50px;
                letter-spacing: 0.02em;
                @include md {
                    font-size: 34px;
                    line-height: 34px;
                }
            }
            .jp-ttl {
                font-family: "Hiragino Sans";
                font-weight: normal;
                margin-left: 26px;
                padding: 3px 14px ;
                font-size: 23px;
                letter-spacing: 0.02em;
                text-align: left;
                color: #f30d15;
                background: #000;
                display: block;
                @include md {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
    
            @include md {
                flex-direction: column;
                align-items: center;
                border-bottom: 4px solid #fff;
                .jp-ttl {
                    margin-left: 0;
                    background: none;
                    margin-top: 5px;
                }
            }
        }
        .item-list {
            margin-top: 50px;
            .item-row {
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
            }
            .item-h {
                @extend .item-h;
            }
            .mr-40 {
                margin-right: min(40px, 40rem);
                @include sp {
                    margin-right: 20px;
                }
            }
        }
    }
    .sidebar {
        @extend .sidebar;
    }
}

.sec-gray {    
    background: #333333;
    margin-top: -2px;
    padding:  min(50px, 50rem) 0 ;
    @include sp {
        padding: 30px 0;
    }

    .graybox-bottom {
        background: #6F6F6F;
        height: min(224px, 224rem);
        @include sp {
            margin-top: 30px;
            height: 60px;
        }
    }
}
